h1 {
  border: lime double;
  text-align: center;
  color: orangered;
}

h2 {
  margin: 0;
}

hr {
  border-color: red;
}

.dropcap {
  color: lime;
  font-size: 3rem;
  font-style: italic;
}

.right {
  float: right;
  padding-left: 1rem;
}

.left {
  float: left;
  padding-right: 1.25rem;
}

.highlighted {
  background-color: lightsalmon;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
}

.subtitle {
  color: white;
  background-color: lime;
  text-align: right;
  padding: 0.2rem;
}

.thumbnail {
  width: 5rem;
}

.pstyle {
  text-align: justify;
  padding: 1rem 0 1rem 0;
}
